<div class="mb-6 grid grid-cols-1 xl:grid-cols-4 xl:gap-6">
  <div
    class="mb-6 xl:col-span-3 xl:mb-0 xl:flex xl:flex-col"
    *ngFor="let course of issues.timetable; let i = index"
  >
    <div
      class="mb-6 flex flex-col rounded-2xl bg-white transition-shadow duration-500 last:mb-0 hover:shadow-lg dark:bg-slate-900/70"
    >
      <div class="flex-1 p-6">
        <div class="block items-center justify-between md:flex">
          <div class="mb-6 flex items-center justify-center md:mb-0">
            <div class="block items-center justify-start md:flex">
              <div class="mb-6 flex items-center justify-center md:mb-0">
                <span
                  class="inline-flex h-12 w-12 items-center justify-center rounded-full bg-gray-50 text-emerald-500 dark:bg-slate-800 md:mr-6"
                  ><svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    class="inline-block"
                  >
                    <path
                      fill="currentColor"
                      d="M15 15V17H18V20H20V17H23V15H20V12H18V15M14.97 11.61C14.85 10.28 13.59 8.97 12 9C10.3 9.03 9 10.3 9 12C9 13.7 10.3 14.94 12 15C12.38 15 12.77 14.92 13.14 14.77C13.41 13.67 13.86 12.63 14.97 11.61M13 16H7C7 14.9 6.11 14 5 14V10C6.11 10 7 9.11 7 8H17C17 9.11 17.9 10 19 10V10.06C19.67 10.06 20.34 10.18 21 10.4V6H3V18H13.32C13.1 17.33 13 16.66 13 16Z"
                    ></path></svg
                ></span>
              </div>
              <div class="flex items-center justify-center">
                <div class="space-y-1 text-center md:mr-6 md:text-left">
                  <h4 class="text-xl">$375.53</h4>
                  <p class="text-gray-500 dark:text-slate-400">
                    <b>3 days ago</b> via Turcotte
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <div class="space-y-2 text-center md:text-right">
              <p class="text-sm text-gray-500">Home Loan Account</p>
              <div>
                <div
                  class="inline-flex items-center rounded-full border border-emerald-500 bg-emerald-500 py-1 px-3 text-xs capitalize leading-none text-white"
                >
                  <!----><span>deposit</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
  <app-feebalance></app-feebalance>
</div>
