<ng-container *ngIf="lectures.timetable.length == 0">
  <div role="alert">
    <div class="rounded-t bg-blue-500 px-4 py-2 font-bold text-white">
      Notice
    </div>
    <div
      class="rounded-b border border-t-0 border-blue-400 bg-blue-100 px-4 py-3 text-blue-700"
    >
      <p>
        No upcoming lectures for today, however contact your class rep for more
        info.
      </p>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="lectures.timetable.length != 0">
  <div class="flex flex-col">
    <div
      class="mb-6 flex flex-col rounded-2xl bg-white transition-shadow duration-500 last:mb-0 hover:shadow-lg dark:bg-slate-900/70"
      *ngFor="let course of lectures.timetable; let i = index"
    >
      <div class="flex-1 p-6">
        <div class="block items-center justify-between md:flex">
          <div class="mb-6 flex items-center justify-center md:mb-0">
            <div class="block items-center justify-start md:flex">
              <div class="mb-6 flex items-center justify-center md:mb-0">
                <div class="mr-6 h-12 w-12">
                  <img
                    src="https://avatars.dicebear.com/api/avataaars/Hope-Howe.svg"
                    alt="Hope Howe"
                    class="block h-auto w-full max-w-full rounded-full bg-gray-100 dark:bg-slate-800"
                  />
                </div>
              </div>
              <div class="flex items-center justify-center">
                <div class="overflow-hidden text-center md:text-left">
                  <h4 class="text-ellipsis text-xl">
                    {{ course.course | titlecase }}
                  </h4>
                  <p class="text-gray-500 dark:text-slate-400">
                    Starts {{ course.begin }}, Venue:
                    {{ course.venue }} Lecturer
                    {{ course.lecturer }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="flex items-center justify-center">
            <div
              class="inline-flex items-center rounded-full border border-emerald-500 bg-emerald-500 py-1.5 px-4 text-sm capitalize leading-none text-white"
            >
              <span class="mr-2 inline-flex h-4 w-4 items-center justify-center"
                ><svg
                  viewBox="0 0 24 24"
                  width="16"
                  height="16"
                  class="inline-block"
                >
                  <path
                    fill="currentColor"
                    d="M16,6L18.29,8.29L13.41,13.17L9.41,9.17L2,16.59L3.41,18L9.41,12L13.41,16L19.71,9.71L22,12V6H16Z"
                  ></path></svg></span
              ><span>68%</span>
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</ng-container>
