<section class="p-6 xl:mx-auto xl:max-w-6xl">
  <section class="mb-6 flex items-center justify-between">
    <div class="flex items-center justify-start">
      <span
        class="mr-3 inline-flex h-12 w-12 items-center justify-center rounded-full bg-white text-black dark:bg-slate-900/70 dark:text-white"
        ><svg viewBox="0 0 24 24" width="24" height="24" class="inline-block">
          <path
            fill="currentColor"
            d="M21,19A1,1 0 0,1 20,20H19V18H21V19M15,20V18H17V20H15M11,20V18H13V20H11M7,20V18H9V20H7M4,20A1,1 0 0,1 3,19V18H5V20H4M19,4H5A2,2 0 0,0 3,6V8H5L11,8H13L19,8H21V6C21,4.89 20.11,4 19,4M5,14H3V16H5V14M5,10H3V12H5V10M21,10H19V12H21V10M21,14H19V16H21V14M11,16V14H13V16H11M11,12V10H13V12H11"
          ></path></svg
      ></span>
      <h1 class="text-3xl leading-tight">Tables</h1>
    </div>
    <a
      class="inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded-full border border-gray-800 bg-gray-800 px-3 py-1 text-sm text-white ring-gray-300 transition-colors duration-150 focus:outline-none focus:ring hover:bg-gray-700 dark:border-white dark:bg-white dark:text-black dark:ring-gray-400 hover:dark:bg-slate-100"
      href="https://github.com/justboil/admin-one-vue-tailwind"
      target="_blank"
      disabled="false"
      ><span class="inline-flex h-6 w-6 items-center justify-center"
        ><svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
          <path
            fill="currentColor"
            d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"
          ></path></svg></span
      ><span class="px-1">Star on GitHub</span></a
    >
  </section>
  <div
    class="mb-6 rounded-lg border border-blue-500 bg-blue-500 px-3 py-6 text-white transition-colors duration-150 last:mb-0 md:py-3"
  >
    <div class="block items-center justify-between md:flex">
      <div class="mb-6 flex items-center justify-center md:mb-0">
        <div class="flex flex-col items-center md:flex-row">
          <span
            class="inline-flex h-10 w-10 items-center justify-center md:mr-2 md:h-5 md:w-5"
            ><svg
              viewBox="0 0 24 24"
              width="24"
              height="24"
              class="inline-block"
            >
              <path
                fill="currentColor"
                d="M23,11H18A1,1 0 0,0 17,12V21A1,1 0 0,0 18,22H23A1,1 0 0,0 24,21V12A1,1 0 0,0 23,11M23,20H18V13H23V20M20,2H2C0.89,2 0,2.89 0,4V16A2,2 0 0,0 2,18H9V20H7V22H15V20H13V18H15V16H2V4H20V9H22V4C22,2.89 21.1,2 20,2Z"
              ></path></svg></span
          ><span class="text-center md:py-2 md:text-left"
            ><b>Responsive table.</b> Collapses on mobile
          </span>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button
          class="inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded-full border border-white bg-white p-1 text-black ring-gray-200 transition-colors duration-150 focus:outline-none focus:ring hover:bg-gray-100 dark:ring-gray-500"
          type="button"
        >
          <span class="inline-flex h-6 w-6 items-center justify-center"
            ><svg
              viewBox="0 0 24 24"
              width="16"
              height="16"
              class="inline-block"
            >
              <path
                fill="currentColor"
                d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
              ></path></svg></span
          ><!---->
        </button>
      </div>
    </div>
  </div>
  <div class="mb-6 flex flex-col rounded-2xl bg-white dark:bg-slate-900/70">
    <div class="flex-1">
      <div
        class="fixed inset-0 z-50 flex flex-col items-center justify-center overflow-hidden"
        style="display: none"
      >
        <div
          class="absolute inset-0 bg-gradient-to-tr from-gray-700 via-gray-900 to-gray-700 opacity-90 dark:from-gray-700 dark:via-gray-900 dark:to-gray-700"
        ></div>
        <div
          class="max-h-modal z-50 flex w-11/12 flex-col rounded-2xl bg-white shadow-lg dark:bg-slate-900 md:w-3/5 lg:w-2/5 xl:w-4/12"
          style="display: none"
        >
          <div class="flex-1 p-6">
            <div class="mb-3 flex items-center justify-between">
              <h1 class="text-2xl">Sample modal</h1>
            </div>
            <div class="space-y-3">
              <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
              <p>This is sample modal</p>
            </div>
          </div>
          <footer class="p-6">
            <div class="-mb-3 flex flex-wrap items-center justify-start">
              <button
                class="mr-3 mb-3 inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-blue-600 bg-blue-600 py-2 px-3 text-white ring-blue-300 transition-colors duration-150 last:mr-0 focus:outline-none focus:ring hover:border-blue-700 hover:bg-blue-700 dark:border-blue-500 dark:bg-blue-500 dark:ring-blue-700 hover:dark:border-blue-600 hover:dark:bg-blue-600"
                type="button"
              >
                <!----><span class="px-2">Done</span></button
              ><!---->
            </div>
          </footer>
        </div>
      </div>
      <div
        class="fixed inset-0 z-50 flex flex-col items-center justify-center overflow-hidden"
        style="display: none"
      >
        <div
          class="absolute inset-0 bg-gradient-to-tr from-gray-700 via-gray-900 to-gray-700 opacity-90 dark:from-gray-700 dark:via-gray-900 dark:to-gray-700"
        ></div>
        <div
          class="max-h-modal z-50 flex w-11/12 flex-col rounded-2xl bg-white shadow-lg dark:bg-slate-900 md:w-3/5 lg:w-2/5 xl:w-4/12"
          style="display: none"
        >
          <div class="flex-1 p-6">
            <div class="mb-3 flex items-center justify-between">
              <h1 class="text-2xl">Please confirm</h1>
              <button
                class="inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded-full border border-white bg-white p-1 text-black ring-gray-200 transition-colors duration-150 focus:outline-none focus:ring hover:bg-gray-100 dark:border-slate-900 dark:bg-slate-900 dark:text-white dark:ring-gray-500 hover:dark:bg-slate-800"
                type="button"
              >
                <span class="inline-flex h-6 w-6 items-center justify-center"
                  ><svg
                    viewBox="0 0 24 24"
                    width="16"
                    height="16"
                    class="inline-block"
                  >
                    <path
                      fill="currentColor"
                      d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
                    ></path></svg></span
                ><!---->
              </button>
            </div>
            <div class="space-y-3">
              <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
              <p>This is sample modal</p>
            </div>
          </div>
          <footer class="p-6">
            <div class="-mb-3 flex flex-wrap items-center justify-start">
              <button
                class="mr-3 mb-3 inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-red-600 bg-red-600 py-2 px-3 text-white ring-red-300 transition-colors duration-150 last:mr-0 focus:outline-none focus:ring hover:border-red-700 hover:bg-red-700 dark:border-red-500 dark:bg-red-500 dark:ring-red-700 hover:dark:border-red-600 hover:dark:bg-red-600"
                type="button"
              >
                <!----><span class="px-2">Done</span></button
              ><button
                class="mr-3 mb-3 inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-red-600 py-2 px-3 text-red-600 ring-red-300 transition-colors duration-150 last:mr-0 focus:outline-none focus:ring hover:bg-red-600 hover:text-white hover:text-white dark:border-red-500 dark:text-red-500 dark:ring-red-700 hover:dark:border-red-600 hover:dark:text-white"
                type="button"
              >
                <!----><span class="px-2">Cancel</span>
              </button>
            </div>
          </footer>
        </div>
      </div>
      <!---->
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Company</th>
            <th>City</th>
            <th>Progress</th>
            <th>Created</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.CourseCode }}</td>
            <td>{{ course.CourseCredit }}</td>
            <td>{{ course.CourseName }}</td>
            <td>{{ course.CourseType }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!---->
  </div>
  <section class="mb-6 flex items-center justify-between pt-6">
    <div class="flex items-center justify-start">
      <span class="mr-2 inline-flex h-6 w-6 items-center justify-center"
        ><svg viewBox="0 0 24 24" width="20" height="20" class="inline-block">
          <path
            fill="currentColor"
            d="M22.11 21.46L2.39 1.73L1.11 3L3.22 5.11C3.08 5.38 3 5.68 3 6V18C3 19.11 3.9 20 5 20H18.11L20.84 22.73L22.11 21.46M10.11 12H5V8H6.11L10.11 12M11 18H5V14H11V18M13 18V14.89L16.11 18H13M13 9.8L7.2 4H19C20.11 4 21 4.89 21 6V17.8L19 15.8V14H17.2L15.2 12H19V8H13V9.8Z"
          ></path></svg
      ></span>
      <h1 class="text-2xl leading-tight">Empty variation</h1>
    </div>
    <button
      class="inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-white bg-white p-1 text-black ring-gray-200 transition-colors duration-150 focus:outline-none focus:ring hover:bg-gray-100 dark:border-slate-900 dark:bg-slate-900 dark:text-white dark:ring-gray-500 hover:dark:bg-slate-800"
      type="button"
    >
      <span class="inline-flex h-6 w-6 items-center justify-center"
        ><svg viewBox="0 0 24 24" width="16" height="16" class="inline-block">
          <path
            fill="currentColor"
            d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z"
          ></path></svg></span
      ><!---->
    </button>
  </section>
  <div
    class="mb-6 rounded-lg border border-red-500 bg-red-500 px-3 py-6 text-white transition-colors duration-150 last:mb-0 md:py-3"
  >
    <div class="block items-center justify-between md:flex">
      <div class="mb-6 flex items-center justify-center md:mb-0">
        <div class="flex flex-col items-center md:flex-row">
          <span
            class="inline-flex h-10 w-10 items-center justify-center md:mr-2 md:h-5 md:w-5"
            ><svg
              viewBox="0 0 24 24"
              width="24"
              height="24"
              class="inline-block"
            >
              <path
                fill="currentColor"
                d="M22.11 21.46L2.39 1.73L1.11 3L3.22 5.11C3.08 5.38 3 5.68 3 6V18C3 19.11 3.9 20 5 20H18.11L20.84 22.73L22.11 21.46M10.11 12H5V8H6.11L10.11 12M11 18H5V14H11V18M13 18V14.89L16.11 18H13M13 9.8L7.2 4H19C20.11 4 21 4.89 21 6V17.8L19 15.8V14H17.2L15.2 12H19V8H13V9.8Z"
              ></path></svg></span
          ><span class="text-center md:py-2 md:text-left"
            ><b>Empty table.</b> When there's nothing to show
          </span>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <button
          class="inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded-full border border-white bg-white p-1 text-black ring-gray-200 transition-colors duration-150 focus:outline-none focus:ring hover:bg-gray-100 dark:ring-gray-500"
          type="button"
        >
          <span class="inline-flex h-6 w-6 items-center justify-center"
            ><svg
              viewBox="0 0 24 24"
              width="16"
              height="16"
              class="inline-block"
            >
              <path
                fill="currentColor"
                d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
              ></path></svg></span
          ><!---->
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col rounded-2xl bg-white dark:bg-slate-900/70">
    <div class="flex-1 p-6">
      <div class="py-24 text-center text-gray-500 dark:text-slate-400">
        <p>Nothing's here…</p>
      </div>
    </div>
    <!---->
  </div>
</section>
